
<section class="d-home-grid">
    <div class="">
        <h1>
            Tracking <br>
            Health & Wellness
        </h1>
        <div>
            Welcome to Health Track Pro.
            Our application is designed to help you track your health and wellness effectively. 
            It provides tools for tracking nutrition, physical activity, and personal health metrics, 
            empowering you to make informed decisions about your health.
        </div>
    </div>
    <div class="flip-card">
        <div class="flip-card-inner ">
            <div class="flip-card-front">
                <h3>Body Mass Index</h3>
                <p>Calculate your Body Mass Index (BMI) to assess your weight status.</p>
                <div class="input-group">
                    <label for="height">Height (cm):</label>
                    <input type="number" id="height" placeholder="Enter your height in cm" required>
                </div>
                <div class="input-group">
                    <label for="weight">Weight (kg):</label>
                    <input type="number" id="weight" placeholder="Enter your weight in kg" required>
                </div>
                <div class="text-danger" id="bmiError"></div>
                <button id="calculateBmiBtn">Calculate BMI</button>
            </div>
            <div class="flip-card-back">
                <h3>BMI Result</h3>
                <div id="bmiResult"> </div>
                <div id="idealWeight"> </div>
                <button id="backBtn">Back</button>
            </div>
        </div>
    </div>
</section>
<section>
    <h2>Latest News</h2>
    <div id="news-container">
        <div class="loader"></div>
    </div>
</section>