<div class="d-flex justify-center align-center mt-xl mb-xl">
    <div class="card" id="signinCard">
        <div class="card-header">
            Sign In
        </div>
        <div class="card-body">
            <form id="signinForm">
                <label>
                    Email <sup>*</sup>
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </label>
                <label>
                    Password <sup>*</sup>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </label>
                <label>
                    <input type="checkbox" name="remember-me" id="remember-me">
                    Remember me
                </label>
                <div class="mt-sm">
                    <small>No account? <a href="#" id="signupLink"> Sign Up </a> instead. </small>
                </div>
                <button type="submit" class="center">Sign In</button>
            </form>
        </div>
    </div>
    <div class="card d-none" id="signupCard">
        <div class="card-header">
            Sign Up
        </div>
        <div class="card-body">
            <form id="signupForm">
                <label>
                    Name
                    <input type="text" name="name" id="name" placeholder="Full name">
                </label>
                <label>
                    Email <sup>*</sup>
                    <input type="email" name="email" id="email-su" placeholder="Your email" required>
                </label>
                <label>
                    Password <sup>*</sup>
                    <input type="password" name="password-su" id="password-su" placeholder="Password (min 8 characters)"
                        required>
                </label>
                <label>
                    Repeat password <sup>*</sup>
                    <input type="password" name="password-rpt" id="password-rpt" placeholder="Repeat above password"
                        required>
                </label>
                <div class="mt-sm">
                    <small>
                        By continuing, you are agreeing to our
                        <a href="#" id="termsLink"> Terms and Condition </a>.
                    </small>
                </div>
                <div class="mt-sm">
                    <small>Already have an account? <a href="#" id="signinLink"> Sign In </a> instead. </small>
                </div>
                <button type="submit" class="center">Sign Up</button>
            </form>
        </div>
    </div>
</div>