:root {

  --primary-font-color: #333;
  --secondary-font-color: #fff;
  --tertiary-font-color: #000;
  --primary-background: #F1F2EE;
  --brand-color: #4CAF50;
  --brand-color-2: #FF9800;
  --brand-font-color: #1D421E;
  --brand-font-color-2: #a86500;
  --nav-color: #2196F3;
  --link-hover-color: #cf7d01;

  --card-background: #2196F3;
  --card-border: 0.1rem solid #b0c6f0;
  --card-border-radius: 5px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0 auto;
  background-color: var(--primary-background);
  color: var(--primary-font-color);
}
main {
  padding: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5rem;
  min-height: 60vh;
}

footer,
header {
  padding: .375rem .5rem;
  font-family: "Roboto", sans-serif;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 2px solid var(--brand-color);
  width: 100%;
}

footer {
  display: block;
  justify-items: center;
  background-color: var(--brand-font-color);
  color: var(--secondary-font-color);
  padding: 1rem 0;
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
}

h1, h2, h3, h4 {
  margin: 1rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 800;
}

h1, h2 {
  color: var(--brand-font-color);
}

h3, h4 {
  color: var(--brand-font-color-2);
}

nav {
  display: none;
  grid-gap: 10px;
  font-size: 1.2rem;
  grid-column: 1 / span 2;
  text-align: center;
  width: 90%;
}

.nav-item {
  color: var(--brand-font-color);
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  border-bottom: 2px solid var(--nav-color);
}

nav .active {
  color: var(--brand-font-color-2);
  font-weight: 900;
  text-decoration: underline var(--brand-color-2) 5px;
  text-underline-offset: 15px;
}

.nav-item:hover {
  font-weight: 900;
  color: var(--link-hover-color);
  cursor: pointer;
}

nav.show {
  display: grid;
}

#menu::before {
  content: "≡";
  color: var(--brand-color-2);
  font-size: 3rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

#menu.show::before {
  content: "X";
  font-size: 1.5rem;
}

img {
  object-fit: contain;
  border-radius: 6px;
  width: 100%;
}
figure {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem;
  width: fit-content;
}
p {
  margin: 2px;
  padding: 0 1rem;
  
}
section {
  margin: 2px 1rem;
}
header a {
  text-decoration: none;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button, .btn {
  border: 1px solid var(--brand-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .btn:hover {
  background-color: var(--brand-color);
  color: var(--secondary-font-color);
}
button:disabled, .btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  border-color: #ccc;
}
button:focus, button:focus-visible, .btn:focus, .btn:focus-visible {
  outline: 2px solid var(--brand-color);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-primary {
  color: var(--tertiary-font-color);
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.btn-outline-success {
  color: var(--brand-font-color);
  border: 1px solid var(--brand-color);
  background-color: transparent;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-text {
  display: inline-block;
  font-family: "Archivo Black", "League Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--brand-font-color);
}
.text-info {
  color: var(--brand-font-color-2);
}
.text-primary {
  color: var(--primary-font-color);
}
.text-secondary {
  color: var(--secondary-font-color);
}
.text-success {
  color: var(--brand-color);
}
.text-warning {
  color: var(--brand-font-color-2);
}
.text-danger {
  color: #f44336;
}
.header-logo {
  width: 2rem;
}
.d-flex {
  display: flex;
}
.mx-lg {
  margin: 0 1rem;
}
.mt-lg {
  margin-top: 2rem;
}
.fnt-bold {
  font-weight: 700;
  letter-spacing: 2px;
}

.d-home-grid {
  display: block;
}

.card  {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border-radius: var(--card-border-radius);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--primary-font-color);
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  padding: 1rem;
  height: auto;
  border-radius: var(--card-border-radius);
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--secondary-font-color);
  border-radius: 8px;
}
input, textarea, select {
  padding: 0.5rem;
  border: 1px solid var(--brand-color);
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
}
input:focus, textarea:focus, select:focus {
  outline: 1px solid var(--brand-color);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
} 
label {
  font-weight: bold;
  color: var(--brand-font-color);
}
.input-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: .25rem 0;
}
.input-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

/* News Styles */
.news-item, .meal-item {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-img, .meal-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--card-border-radius);
  margin-right: 1rem;
}
.news-item h3 {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.news-content, .meal-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


figcaption {
  font-size: 0.8rem;
  color: var(--primary-font-color);
  text-align: center;
  
}
figcaption::before {
  content: "~";
  font-weight: bold;
  color: var(--brand-font-color);
}

/* Nutrition Styles */
.d-meal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  align-items: center;
}

/* Activity Log Styles */
.d-activity-log {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.log-item {
  background-color: var(--secondary-font-color);
  border: 1px solid var(--brand-color);
  border-radius: 8px;
  padding: 1rem;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid var(--brand-color); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Responsive Styles */
@media screen and (min-width: 36em) {
  
  header {
    display: flex;
    justify-content: space-around;
  }
  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .nav-item {
    padding: 0 0.5rem;
    border-bottom: 0;
  }

  nav .active {
    text-underline-offset: 20px;
  }

  nav.show {
    display: flex;
  }

  #menu {
    display: none;
  }
  .d-home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 0.5rem;
  }

  .news-item {
    flex-direction: row;
    align-items: flex-start;
  }
}
